.conteudo {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.texto {
    font-size: 1em; 
}
.imgtext {
    display: flex;          
    justify-content: flex-start; 
    align-items: flex-start;  
}

.imagem-container {
    flex: 1;  
    max-width: 50%;
    margin-right: 20px;  
}

.imagem-container img {
    width: 100%;  
    height: auto;      
    display: block;   
}

.texto-container {
    flex: 2;  
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start;
}

.texto-container h2,
.texto-container p {
    margin: 10px 0;
    font-size: 1.5vw;
}
.texto-container h2 {
    text-align: left;
    font-size: 3vw;
}
.texto-container h3 {
    font-size: 2.5vw;
}
.intro h2{
    text-align: center;
    font-size: 3rem;
    margin: 3vw 0 2vw 0;
}
.intro h3{
    font-size: 1.7rem;
    margin: 2vw;
}
.intro p{
    font-size: 1.4rem;
    line-height: 2vw;
    margin: 0 0 2vw 2vw;
}
.servi ul{
    display: flex;
    text-align: center;
    margin: 4vw 0 0 0;
}
.servi ul li{
     margin: 2vw 11vw 2vw 3vw;
}   
.servi ul li h3{
    font-size: 1.7rem;
    font-weight: bold;
}
.servi ul li span{
    font-size: 5rem;
    color: #2a2d30;
}
.servi ul li p{
    color:  #888888;;
    font-size: 1.4vw;
   margin: 0 0 2vw 0;
}
.servi button{
    background-color:#2a2d30;
    padding: 0.7vw;
    color: white;
    border-radius: 0.5vw;
}
.servi h3{
    text-align: center;
    font-size: 1.7rem;
    margin: 4vw 0 2vw 0;
}
.textc {
    text-align: center;
}