.imagem-redonda {
    width: 500px; 
    height: 350px; 
    border-radius: 1%; 
    object-fit: cover; 
}
.conteudo {
    display: flex;
    align-items: center; 
    gap: 20px;
}

.texto {
    font-size: 1em; 
}